
body {
  background-color: #8c8686;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}  

h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}

p {
  font-size: 40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

li{
  display: inline;
  margin: 0 10px 0 0;
}


#menu {
  float: center;
}

a{ 
  color: #ffffff;
  background-color: #5c5959;
  text-decoration: none;
  padding: 10px;
  
}

#containerpage{
  border: #5c5959, 10px, solid;

}

#firstline{
  display: flex;
  
}

#secondline{
  display: flex;
  
}

#thirdline{
  display: flex;
}

#firstleft{
  background-color: green;
  width: 50%;
 
}

#fisrtright{
  background-color: blue;
  width: 50%;
  
  
}

#secondleft{
  background-color: yellow;
  width: 33.3%;
  
}

#secondcenter{
  background-color: purple;
  width: 33.3%;
  
}

#secondright{
  background-color: orange;
  width: 33.3%;
}

#third{
  background-color: aqua;
  width: 100%;
}

#footer{
  background-color: brown;
  text-align: center;
  margin-top: auto;
}