
body {
  background-color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}  

header{
  background-color: #8c8686;
  padding-bottom: 30px;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}

h2{
  font-size: 30px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

nav {
  text-align: center; 
  
}

#ul{

text-align: center;

}

li{
  display: inline;
  margin: 0 10px 0 0;
 
}


#menu {
  float: center;

  
}

a{ 
  color: #ffffff;
  background-color: #5c5959;
  text-decoration: none;
  padding: 10px;
  
}

a:hover{
  background-color: #1d1c1c ;
}

#containerdades{
  display: flex;
}

#containerpage{
  border: #5c5959, 10px, solid;

}

#firstline{
  display: flex;
  
}

#secondline{
  display: flex;
  
}

#thirdline{
  display: flex;
  
}

#firstleft{
  background-color: green;
  width: 50%;
  
}

#fisrtright{
  background-color: blue;
  width: 50%;
  
}

#secondleft{
  background-color: yellow;
  width: 33.3%;

}

#secondcenter{
  background-color: purple;
  width: 33.3%;
  
}

#secondright{
  background-color: orange;
  width: 33.3%;

}

#third{
  background-color: aqua;
  width: 100%;

}

.foto{
  width: 400px;
  height: auto;
  margin-left: 10%;
  margin-top: 100px;
  border: 5px solid black;
  margin-right: 20px;
  
}


#feina1{
background: grey;
padding: 10px;
margin: 10px;
}

#feina2{
  background: grey;
  padding: 10px;
  margin: 10px;
}

#feina3{
  background: grey;
  padding: 10px;
  margin: 10px;
}

#Benvingut{
  font-size: 30px;
  text-align: center;
}

#Benvingut2{
  font-size: 30px;
  text-align: center;
}

#exp{
  font-size: 15px;
  text-align: center;
}

#info{
  font-size: 30px;
  background-color: rgb(118, 122, 122);
  width: 60%;
  
  padding-left: 20px; 
  margin-left: 10%;
  margin-top: 100px;
  
}

.txtfeina{
  text-align: center;
  font-weight: normal;
  color:#ffffff;
}

.contenedorfeina{
  display:flex;


}

#feinalogo{
  width: 200px;
  height: auto;
  height: auto;
  float: left;

}

#peu{
  margin-top: auto;
  background: gray;
  text-align: center;
  color:#ffffff;
}

@media(width: 412px){
  #feinalogo{
    display: none;
  }

  .foto{
    display: none;
  }

  #peu{
    background: black;
    
  }

  header{
    background: black;
    color: white;
  }

}

@media(width: 1080px ){
  #peu{
    background: rgb(17, 14, 80);
    
  }
  header{
    background: rgb(17, 14, 80);
    color: white;
  }
}